<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
    <img class="potrait"src="/img/myimg.png" alt="My Image">
    </div>
    {{>footer}}
</body>
</html>
